{% extends "base_page_style.html" %}

{% block PersonalInterestsActive %}
active
{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1>Personal Interests</h1>
    <table class="table table-borderless" id="Personal_Interests_Calisthenics">
        <thead>
            <tr>
                <th width="20%">
                    <svg height="10" width="200">
                        <rect width="200" height="10" style="fill:rgb(230,150,0);" />
                    </svg>
                </th>
                <th style="font-size: 25px;">
                    Calisthenics
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Since</td>
                <td>2020</td>
            </tr>
            <tr>
                <td>Activity Status</td>
                <td>Active (2 to 3 training sessions a week)</td>
            </tr>
            <tr>
                <td>Some Skills</td>
                <td>
                    Handstand <br />
                    Muscle up <br />
                    <!-- Back lever (~5 seconds hold) <br /> -->
                    <!-- Front lever (only very short hold) <br /> -->
                    Back lever <br />
                    <!-- Human flag (short hold ~2 seconds) <br /> -->
                </td> 
            </tr>
        </tbody>
    </table>

    <table class="table table-borderless" id="Personal_Interests_Chess">
        <thead>
            <tr>
                <th width="20%">
                    <svg height="10" width="200">
                        <rect width="200" height="10" style="fill:rgb(230,150,0);" />
                    </svg>
                </th>
                <th style="font-size: 25px;">
                    Chess
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Since</td>
                <td>2001</td>
            </tr>
            <tr>
                <td>Activity Status</td>
                <td>Slightly active</td>
            </tr>
            <tr>
                <td>Clubs</td>
                <td>
                    <a href="https://www.schachclub-garching.de/" target="_blank" rel="noopener noreferrer">
                        Schachclub Garching 1980 e.V.
                    </a><br />
                    <a href="https://schach-schaibing.jimdofree.com/" target="_blank" rel="noopener noreferrer">
                        DJK-SV Schaibing
                    </a>
                </td>
            </tr>
            <tr>
                <td>Elo / DWZ</td>
                <td>
                    <a href="https://ratings.fide.com/profile/24683680" target="_blank" rel="noopener noreferrer">
                        2026
                    </a> / 
                    <a href="https://www.schachbund.de/spieler/10243390.html" target="_blank" rel="noopener noreferrer">
                        2052  
                    </a>
                </td>
            </tr>
            <tr>
                <td>Tournaments (Selection)</td>
                <td>
                    <b>3<sup>rd</sup> place:</b> 9. Salzkammergut Schachopen 2015 (A-Turnier) <br />
                    <!--<b>6<sup>th</sup> place:</b> Bayerische Meisterschaft U18 2011 <br />-->
                    <b>2<sup>nd</sup> place:</b> Ndb. Jugendmeisterschaft U18 - 2011 <br />
                    <b>1<sup>st</sup> place:</b> Ndb. Jugendmeisterschaft U18 - 2010 <br />
                    <!--<b>2<sup>nd</sup> place:</b> 8. Ergoldinger Jugend-Open U18 - 2010 <br />-->
                    <!--<b>4<sup>th</sup> place:</b> Ndb. Jugendblitzmeisterschaft U20 - 2010 <br />-->
                    <b>1<sup>st</sup> place:</b> Tögingen Jugend-Open U18 - 2009 <br />
                    <!--<b>2<sup>nd</sup> place:</b> Schellschach Turnier Aham U16 - 2009 <br />-->
                    <!--<b>3<sup>rd</sup> place:</b> Ndb. Jugendmeisterschaft U16 - 2008 <br />-->
                    <b>1<sup>st</sup> place:</b> Ndb. Jugendblitzmeisterschaft U14 - 2006 <br />
                    <!--<b>3<sup>rd</sup> place:</b> Ndb. Jugendmeisterschaft U12 - 2005 <br />-->
                    <b>1<sup>st</sup> place:</b> Ndb. Jugendblitzmeisterschaft U12 - 2005 <br />
                    <b>2<sup>nd</sup> place:</b> Deutsche Schulschachmeisterschaft (Mannschaft, Grundschule) - 2004 <br />
                    <b>1<sup>st</sup> place:</b> Bayerische Schulschachmeisterschaft (Mannschaft, Grundschule) - 2004 <br />
                </td>
            </tr>
        </tbody>
    </table>
    <div class="container" style="width: 70%;margin-left: 0%;">
        <canvas id="myChart" width="200" height="70"></canvas>
    </div>
    <br />

    <table class="table table-borderless" id="Personal_Interests_Juggling">
        <thead>
            <tr>
                <th width="20%">
                    <svg height="10" width="200">
                        <rect width="200" height="10" style="fill:rgb(230,150,0);" />
                    </svg>
                </th>
                <th style="font-size: 25px;">
                    Juggling
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Since</td>
                <td>2019</td>
            </tr>
            <tr>
                <td>Activity Status</td>
                <td>Only rare / just for fun</td>
            </tr>
            <tr>
                <td>Video Link</td>
                <td>Under progress</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-borderless" id="Personal_Interests_Wrestling">
        <thead>
            <tr>
                <th width="20%">
                    <svg height="10" width="200">
                        <rect width="200" height="10" style="fill:rgb(230,150,0);" />
                    </svg>
                </th>
                <th style="font-size: 25px;">
                    Wrestling
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Since</td>
                <td>2007</td>
            </tr>
            <tr>
                <td>Activity Status</td>
                <td>Rare active</td>
            </tr>
            <tr>
                <td>Club</td>
                <td>
                    <a href="https://www.esv-muenchen-ost.de/esv/index.php?id=5" target="_blank" rel="noopener noreferrer">
                        ESV München-Ost e.V.
                    </a>
                </td>
            </tr>
            <tr>
                <td>Former Club</td>
                <td>
                    <a href="https://www.sv-untergriesbach.de/" target="_blank" rel="noopener noreferrer">
                        SV Weiß-Blau Untergriesbach
                    </a>
                </td>
            </tr>
            <tr>
                <td>Tournaments (Selection)</td>
                <td>
                    <!--<b>6<sup>th</sup> place:</b> Bayerische Meisterschaft Männer - gr.-röm. Stil 2013 <br />-->
                    <b>2<sup>nd</sup> place:</b> Bayerische Meisterschaft Junioren - gr.-röm. Stil 2013 <br />
                    <b>1<sup>st</sup> place:</b> Bärencup Bindlach Junioren - gr.-röm. Stil 2012 <br />
                    <b>5<sup>th</sup> place:</b> Deutsche Meisterschaft Junioren - gr.-röm. Stil 2012 <br />
                    <b>2<sup>nd</sup> place:</b> Bayerische  Meisterschaft Junioren - gr.-röm. Stil 2012 <br />
                    <!--<b>2<sup>nd</sup> place:</b> Bezirksmeisterschaft Niederbayern / Oberpfalz Männer - gr.-röm. Stil 2012 <br />-->
                    <!--<b>4<sup>th</sup> place:</b> Bayerische Meisterschaft Männer - gr.-röm. Stil 2011 <br/>-->
                    <b>2<sup>nd</sup> place:</b> Bezirksmeisterschaft Niederbayern / Oberpfalz Männer - gr.-röm. Stil 2011 <br />
                    <!--<b>2<sup>nd</sup> place:</b> Bärencup Bindlach Kadetten - gr.-röm. Stil 2010 <br />-->
                    <b>1<sup>st</sup> place:</b> Bezirksmeisterschaft Niederbayern / Oberpfalz A/B-Jugend - gr.-röm. Stil 2010 <br />
                    <!--<b>3<sup>rd</sup> place:</b> Bezirksmeisterschaft Niederbayern / Oberpfalz A/B-Jugend - gr.-röm. Stil 2009 <br />-->
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-borderless" id="Personal_Interests_Urban_Gardening">
        <thead>
            <tr>
                <th width="20%">
                    <svg height="10" width="200">
                        <rect width="200" height="10" style="fill:rgb(230,150,0);" />
                    </svg>
                </th>
                <th style="font-size: 25px;">
                    Urban Gardening
                </th>
            </tr>
        </thead>
    </table>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" class="active" aria-current="true" aria-label="Slide 5"></button>
          <!--<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" class="active" aria-current="true" aria-label="Slide 7"></button>-->
        </div>
        <div class="carousel-inner">
            <!--<div class="carousel-item">
                <img src="../static/images/Urban_Gardening/Maerz_2021_800_450.jpg" class="d-block w-80" alt="..." style="margin:auto;">
                <div class="carousel-caption d-none d-md-block">
                  <h5>March 2021</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/images/Urban_Gardening/April_2021_800_450.jpg" class="d-block w-80" alt="..." style="margin:auto;">
                <div class="carousel-caption d-none d-md-block">
                  <h5>April 2021</h5>
                </div>
            </div>-->
            <div class="carousel-item">
                <img src="../static/images/Urban_Gardening/Mai_2021_800_450.jpg" class="d-block w-80" alt="..." style="margin:auto;">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Mai 2021</h5>
                  <!--<p>Some representative placeholder content for the second slide.</p>-->
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/images/Urban_Gardening/Juni_2021_Balkon.JPG" class="d-block w-80" alt="..." style="margin:auto;">
                <div class="carousel-caption d-none d-md-block">
                <h5>June 2021</h5>
                <!--<p>Some representative placeholder content for the first slide.</p>-->
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/images/Urban_Gardening/November_2021_800_450.jpg" class="d-block w-80" alt="..." style="margin:auto;">
                <div class="carousel-caption d-none d-md-block">
                <h5>November 2021</h5>
                <!--<p>Some representative placeholder content for the second slide.</p>-->
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/images/Urban_Gardening/Dezember_2021_800_450.png" class="d-block w-80" alt="..." style="margin:auto;">
                <div class="carousel-caption d-none d-md-block">
                <h5>Dezember 2021</h5>
                <!--<p>Some representative placeholder content for the second slide.</p>-->
                </div>
            </div>
            <div class="carousel-item active">
                <img src="../static/images/Urban_Gardening/Maerz_2022_Balkon_800_450.jpg" class="d-block w-80" alt="..." style="margin:auto;">
                <div class="carousel-caption d-none d-md-block">
                <h5>March 2022</h5>
                <!--<p>Some representative placeholder content for the second slide.</p>-->
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true" style="filter: invert(100%);"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true" style="filter: invert(100%);"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

    <table class="table table-borderless" id="Personal_Interests_Books">
        <thead>
            <tr>
                <th width="20%">
                    <svg height="10" width="200">
                        <rect width="200" height="10" style="fill:rgb(230,150,0);" />
                    </svg>
                </th>
                <th style="font-size: 25px;">
                    Books
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Last 10 Consumed Books:</td>
                <td>
                    <a href="https://www.amazon.de/Herz-%C3%BCber-Kopf-einfache-gl%C3%BCckliches/dp/3982130603" target="_blank" rel="noopener noreferrer">
                        <b>Herz über Kopf: Die einfache Formel für ein glückliches Leben</b>,
                        <i>by Christina Grahn-Hommelsheim and Walter Hommelsheim</i>
                    </a>
                    <br />
                    <a href="https://www.amazon.de/Noise-unsere-Entscheidungen-verzerrt-verbessern/dp/3570554783/ref=sr_1_1?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=16GZNQNQZAORX&dib=eyJ2IjoiMSJ9.DMkw0Drd8QnpXNnDnFFJ4byTJT9-4Vd7ZvylPfKKgzSQd531C2HD_DaJUkm1Mvay9ZFDWsypgtNJbpBoFm3AOEYxEkC7EhY-PnIofTo8NUUlCFS3lBdrbP8uwVNw_o8gND6KcD3okGnAwJwGiqgPEmL_Fj2PkAmlVGRdy9IegGi2zKVVfJbU3CMwgPJWu4sKAMHUc85X693XFGyDv9A0TTqd74zDUrlD93F1Mea0Pco.wRRgM8XjLbuNqQJJeAq0WHZy55Wjt4KjDwJRlR8dR2A&dib_tag=se&keywords=Noise&qid=1720560565&s=books&sprefix=noise%2Cstripbooks%2C81&sr=1-1" target="_blank" rel="noopener noreferrer">
                        <b>Noise: Was unsere Entscheidungen verzerrt – und wie wir sie verbessern können</b>,
                        <i>by Daniel Kahneman,Olivier Sibony, Cass R. Sunstein</i>
                    </a>
                    <br />
                    <a href="https://www.amazon.de/H%C3%A4ndler-Sammelband-1-Michael-Voigt/dp/3898799360/ref=sr_1_2?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2EZCJPCQQMW7K&dib=eyJ2IjoiMSJ9.g-CM2OZMlfaRU6LSH9p_S2khpfnlKpXaM2bMNarjPmPnfVpC9f-5IjeSVIIBrVQ0kG-a7KenXhiKomRFss65VFeu8ICtSC2xRyBwA1H4byexpn3WknqRrVwJROMNC4A-kgkFYhLQb0_o2C4z0rBPJ7rcTa9l-mU9nY_ojFMsBGwaYYP9hYtMAyPJn_EdiygE1ZdpJp3D220EGtNyke4H0yy6rd2t7UkhUYc2WnNFHus.EvNsnXPJS7VTlNGhyYIWfNVYVRC3OXgJPbbzhIokQLg&dib_tag=se&keywords=der+h%C3%A4ndler+band+1&qid=1720560926&s=books&sprefix=der+h%C3%A4ndler+band+1%2Cstripbooks%2C83&sr=1-2">
                        <b>Der Händler, Band 1 und Band 2 (Sonderedition)</b>,
                        <i>by Michael Vioigt</i>
                    </a>
                    <br />
                    <a href="https://www.amazon.de/Traumberuf-Trader-Schritt-finanziellen-Unabh%C3%A4ngigkeit/dp/B0CJVJHKFP/ref=sr_1_1?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=3QNN86GILRG5E&dib=eyJ2IjoiMSJ9.fezDltSxlfSdQIMW4FP1xWVIT5wE6q3tK6skTWIN5EHofJfq0L5v6GXt2u_ufg5dGYxm5sw3meD8MtmtyuyuPqGNofCu0iUofdF9HQyfH1-7hdexbEljaiQYkT91JbnxB6_Zsq-DGnZvr5PROx5zdRR1l5RELeEHf103ubp-Bi_ANPdSh15X6-K-qqA7rHU2g_ybyOPJ6RpK7zWJkPzs2CkLedelUmYABx3ZS7ZZdVo.m1RnzfjNVbsZidgcUpY4DkmibbdnSaH5CYtac4L2vv4&dib_tag=se&keywords=traumberuf+trader&qid=1720561035&s=books&sprefix=traumberuf+trader%2Cstripbooks%2C86&sr=1-1">
                        <b>Traumberuf Trader</b>,
                        <i>by Mario Lüddemann</i>
                    </a>
                    <br />
                    <a href="https://www.amazon.de/Das-DevOps-Handbuch-Infrastrukturen-erfolgreich-umgestalten/dp/3960091990/ref=sr_1_1?crid=1HCWQ2Y0IKIOE&dib=eyJ2IjoiMSJ9.UPr5gJSr9agYurNAnNkJAh3v3NpBz3xlKQ5xDG8DxGVbAydFElQH_XN35EPEElRysZ2OxTf69YLkjQLliPhsoyIclX3F8-UH0VWyGzEQ2rCf0lcwq_5KuuBd2ccIQZX_I2wiql7gEYXYDS_Ft4H_VWMBsPG75TwFKzSXWdblUyYhwN5-rk5v6GMZNW9yrrsfQJy5I67Mewo5jDB6RycPaR-tbY4iJEup9nV2pO6BEJ8.nV7Xt5bv11L2trJgrBPUZgJF0ScOhzYElGU5nNtQDNE&dib_tag=se&keywords=das+devops-handbuch&qid=1720561138&s=books&sprefix=das+devop%2Cstripbooks%2C88&sr=1-1">
                        <b>Das DevOps-Handbuch</b>,
                        <i>by Gene Kim, Jez Humble, Patrick Debois, John Willis, Nicole Forsgren</i>
                    </a>
                    <br />
                    <a href="https://www.amazon.de/Gabel-Hexe-Wurm-Geschichten-Alaga%C3%ABsia/dp/3570165817/ref=tmm_hrd_swatch_0?_encoding=UTF8&dib_tag=se&dib=eyJ2IjoiMSJ9.Z-Rzd8eacgAcSPybnztsw7Bk5HFFtWtgsnPEl3--aBfWjoNAd86Ss22HK6wcob8cAocPuwJ36hKRIpMWJ8WW9reXBtBKInJ_lcF0GzgCRzeuwi42Svm0AQizXje-rTz9yK9jxIH3BaClOXj4Y15CgJqxrlB7ETC-4DCCnLf1fCe6dhl4wZJDcvChG7JoJumBc-OdIXyM2NZ8s1uRNxFwk3SMgo_b7tRPrQbJK-TZM5s.QWTyFGFWVpZTLFz-ScMJrM1vPfs8qvc6h9X6cwEafCE&qid=1720561251&sr=1-1">
                        <b>Die Gabel, die Hexe und der Wurm</b>,
                        <i>by Christopher Paolini</i>
                    </a>
                    <br />
                    <a href="https://www.amazon.de/Chip-War-Worlds-Critical-Technology/dp/1398504122/ref=sr_1_1?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=25RZW8WHV22KA&dib=eyJ2IjoiMSJ9.lh95aw9z1HNmISshgPNXDL4S9nAfOzuRt47j8InD7Vawh0QjNZOsd0KuGY5M0j5EbnPE7FOyU4q64PCwMRl9hO7y8Sy_13VVmAjv8UQE2t-yDl1uH9DmVG6-mqOM8DyjgDJd2Y6QcVeq4hhqT-Ue5WHWOC5h8GL0R1c7t5X4hSFEuMIShJp-cvZMUyF1UKkTfS4lJ6KyF5XEct_Ld4ovGa3_BS7OUHOrOHvWSp3t6c8.0aaBKQTAVxsvJSPHcIprYRJuVEwIATvuWoraHjg9nZM&dib_tag=se&keywords=chip+war&qid=1720561390&s=books&sprefix=chip+war%2Cstripbooks%2C87&sr=1-1">
                        <b>Chip War</b>,
                        <i>by Chris Miller</i>
                    </a>
                    <br />
                    <a href="https://www.amazon.de/Unaufhaltsam-Formel-Erfolg-Zufriedenheit-Balance/dp/3451034263/ref=sr_1_1?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1KVWH5OR46NND&dib=eyJ2IjoiMSJ9.xn5QP-FvuP5AG_Yz1A_AjNQ9E7aApvi06h7DBjD3hCKMHtJ8glOy8f5fiHSBffyycGINDIMVWaL-qGVMs8LliJmMhY0j4EgU2niQ1VRq7GR24aZDDTPAPEzQLNKv-92XdTAlRcJyE6ky5hm_xN7vAQ9u-DkbREMEjhvDR8LK9TwUXiBioyISEt8bCWMY30HBwkaLJ3pRP6-OHINunK0YDSVtgJbwEWHab_2DVVcULuw.WQ_YeCri2-uMJ88tflV8sbDtWRG4lcm0d3sd7ZDlYi0&dib_tag=se&keywords=unaufhaltsam&qid=1720561444&s=books&sprefix=unaufhaltsam%2Cstripbooks%2C86&sr=1-1">
                        <b>Unaufhaltsam</b>,
                        <i>by Frank Stäbler</i>
                    </a>
                    <br />
                    <a href="https://www.amazon.de/FAB-Revolution-Desktop-Computers-Fabrication/dp/0465027458">
                        <b>FAB: The Coming Revolution on Your Desktop</b>,
                        <i>by Neil Gershenfeld</i>
                    </a>
                    <br />
                    <a href="https://www.amazon.de/Die-Gesetze-Gewinner-Erfolg-erf%C3%BClltes/dp/3423340487/ref=sr_1_1?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=13IZ3TTGYM8U1&dib=eyJ2IjoiMSJ9.sU5vY85q_5LTF4uphNEqS5awKSy8GJ3Mzvu-33zgsU0Gg0N4ci_Skyad3WbEd7tYRj3_liHkRpOF6a0nmHBJ2JfaSxmyM7SNrpyO5T9Vco2aq_bGYanPG3hklenbQbUFFGc49-z0JWj1OXq4rZEzmP-xmQYrPasZWUP6VHclJEkRgqtsEaWVrzEGn2CmOgQBOi0qaFZ3kbLWDohy_ivfJ1kfsLiXXQ9SkcPodJOpkVU.RmIoio1TIeN63lmY-YVeHy9Fbl4YDQjat7bzm9zAVBM&dib_tag=se&keywords=gesetze+der+gewinner&qid=1720561638&sprefix=gesetze+der+gewinner%2Caps%2C90&sr=8-1">
                        <b>Die Gesetze der Gewinner</b>,
                        <i>by Bodo Schäfer</i>
                    </a>
                    <br />

                    <!--
                    <a href="https://www.wiley-vch.de/de/fachgebiete/ingenieurwesen/quantencomputing-fuer-dummies-978-3-527-71815-3" target="_blank" rel="noopener noreferrer">
                        <b>Quantencomputing für Dummies</b>,
                        <i>by Hans-Jürgen  Steffens, Christian Zöllner and Kathrin Schäfer</i>
                    </a>
                    <br />
                    <a href="https://link.springer.com/book/10.1007/978-3-662-61998-8" target="_blank" rel="noopener noreferrer">
                        <b>Quantencomputer</b>,
                        <i>by Klaus Mainzer</i>
                    </a>
                    <br />
                    
                    <a href="https://shop.bodoschaefer-akademie.de/products/der-weg-zur-finanziellen-freiheit-1" target="_blank" rel="noopener noreferrer">
                        <b>Der Weg zur finanziellen Freiheit</b>,
                        <i>by Bodo Schäfer</i>
                    </a>
                    <br />
                    <a href="https://www.rheinwerk-verlag.de/photovoltaik-grundlagen-planung-betrieb/" target="_blank" rel="noopener noreferrer">
                        <b>Photovoltaik Grundlagen, Planung, Betrieb</b>,
                        <i>by Michael Kofler and Christian Ofenheusle</i>
                    </a>
                    <br />
                    <a href="https://www.amazon.de/Rich-Dad-Poor-Teach-Middle/dp/1612680194" target="_blank" rel="noopener noreferrer">
                        <b>Rich Dad Poor Dad</b>,
                        <i>by Robert T. Kiyosaki</i>
                    </a>
                    <br />
                    <a href="https://www.amazon.de/exec/obidos/ASIN/3424200670/verlagsgruppe-21/" target="_blank" rel="noopener noreferrer">
                        <b>Selfmade</b>,
                        <i>by Carsten Maschmeyer</i>
                    </a>
                    <br />
                    <a href="https://shop.thorsten-havener.com/products/die-kunst-der-manipulation" target="_blank" rel="noopener noreferrer">
                        <b>Mach doch, was ich will</b>,
                        <i>by Thorsten Havener</i>
                    </a>
                    <br />
                    <a href="https://www.packtpub.com/product/learn-quantum-computing-with-python-and-ibm-quantum-experience/9781838981006" target="_blank" 
                    rel="noopener noreferrer">
                        <b>Learn Quantum Computing with Python and IBM Quantum Experience</b>, 
                        <i>by Robert Loredo</i>
                    </a> 
                    <br />
                    <a href="https://www.wiley-vch.de/de/fachgebiete/computer-und-informatik/kryptografie-fuer-dummies-978-3-527-71457-5" target="_blank" 
                    rel="noopener noreferrer">
                        <b>Kryptografie für Dummies</b>, 
                        <i>by Hans Werner Lang</i>
                    </a>
                    <br />
                    <a href="https://www.amazon.de/-/en/Leo-Angart/dp/3776628227/ref=sr_1_1?crid=1357HY2YNQKC3&keywords=vergiss+deine+brille&qid=1651837589&s=digital-text&sprefix=vergiss+deine+brille%2Cdigital-text%2C77&sr=1-1-catcorr" target="_blank" rel="noopener noreferrer">
                        <b>Vergiss deine Brille: mit effizienten und gezielten Übungen zurück zur natürlichen Sehkraft</b>,
                        <i>by Leo Angart</i>
                    </a>
                    <br />
                    <a href="https://jamesclear.com/" target="_blank" 
                    rel="noopener noreferrer">
                        <b>Die 1%-Methode - Minimale Veränderung, maximale Wirkung</b>, 
                        <i>by James Clear</i>
                    </a> 
                    <br />
                    <a href="https://shop.thorsten-havener.com/products/korpersprache-verstehen-menschen-lesen" target="_blank" rel="noopener noreferrer">
                        <b>Ich sehe das, was du nicht sagst</b>,
                        <i>by Thorsten Havener</i>
                    </a>
                    <br />
                    <a href="https://www.amazon.de/Selbstversorger-Balkon-Das-Monat-f%C3%BCr-Monat-Konzept-Michael-Breckwoldt/dp/3835416286/ref=asc_df_3835416286/?tag=googshopde-21&linkCode=df0&hvadid=310661448858&hvpos=&hvnetw=g&hvrand=11253421936849047187&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1004133&hvtargid=pla-564449340648&psc=1&th=1&psc=1&tag=&ref=&adgrpid=63480430762&hvpone=&hvptwo=&hvadid=310661448858&hvpos=&hvnetw=g&hvrand=11253421936849047187&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1004133&hvtargid=pla-564449340648" target="_blank" rel="noopener noreferrer">
                        <b>Selbstversorger-Balkon: Das Monat-für-Monat-Konzept</b>,
                        <i>by Michael Breckwoldt</i>
                    </a>
                    <br />
                    <a href="https://stevenlow.org/overcoming-gravity/" target="_blank" 
                    rel="noopener noreferrer">
                        <b>Overcoming Gravity - A Systematic Approach to Gymnastics and Bodyweight Strength</b>, 
                        <i>by Steven Low</i>
                    </a> 
                    <br />
                    <a href="https://www.amazon.de/dp/1491991739/ref=nosim?linkCode=gg2&tag=thirdwish-20" target="_blank" rel="noopener noreferrer">
                        <b>Flask Web Development: Developing Web Applications with Python</b>,
                        <i>by Miguel Grinberg</i>
                    </a>
                    <br />
                     Just list the last 10 read books
                    <a href="https://www.thalia.de/shop/home/artikeldetails/A1060598195" target="_blank" rel="noopener noreferrer">
                        <b>Ich sehe wer du bist</b>,
                        <i>by Dannero</i>
                    </a>
                    <br />
                    <a href="https://www.amazon.de/Think-Grow-Rich-unver%C3%A4nderte-Originalausgabe/dp/3959721714" target="_blank" rel="noopener noreferrer">
                        <b>Think and Grow Rich</b>,
                        <i>Napoleon Hill</i>
                    </a>
                    <br />
                    <a href="https://www.amazon.de/-/en/Klaus-Mainzer/dp/3662619970/ref=tmm_hrd_swatch_0?_encoding=UTF8&qid=&sr=" target="_blank" rel="noopener noreferrer">
                        <b>Quantencomputer: Von der Quantenwelt zur Künstlichen Intelligenz</b>,
                        <i>by Klaus Mainzer</i>
                    </a>
                    <br />
                    <a href="https://www.wimhofmethod.com/the-wim-hof-method-book" target="_blank" rel="noopener noreferrer">
                        <b>Die Wim Hof Methode</b>,
                        <i>by Wim Hof</i>
                    </a>
                    <br />
                    <a href="https://www.wimhofmethod.com/products/books/koud-kunstje" target="_blank" rel="noopener noreferrer">
                        <b>Nie wieder krank: Gesund, stark und leistungsfähig durch die Kraft der Kälte</b>,
                        <i>by Wim Hof and Koen de Jong</i>
                    </a>
                    <br />
                    <a href="https://shop.thorsten-havener.com/products/sag-es-keinem-weiter-warum-wir-geheimnisse-brauchen" target="_blank" rel="noopener noreferrer">
                        <b>Sag es keinem weiter</b>,
                        <i>by Thorsten Havener</i> 
                    </a>
                    <br />
                    <a href="https://shop.thorsten-havener.com/products/denk-doch-was-du-willst-die-freiheit-der-gedanken" target="_bank" rel="noopener noreferrer">
                        <b>Denk doch, was du willst</b>,
                        <i>by Thorsten Havener</i>
                    </a>
                    <br />
                    <a href="https://shop.thorsten-havener.com/products/denken-sie-nicht-an-einen-blauen-elefanten-die-macht-der-gedanken" target="_blank" rel="noopener noreferrer">
                        <b>Denken Sie nicht an einen blauen Elefanten</b>,
                        <i>by Thorsten Havener</i>
                    </a>
                    <br />
                    <a href="https://www.timonkrause.com/bucher" target="_blank" rel="noopener noreferrer">
                        <b>Kennen wir uns?</b>,
                        <i>by Timon Krause</i>
                    </a>
                    <br />
                    <a href="https://www.amazon.de/gp/product/3742307452/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=marklaurencom-21&creative=6742&linkCode=as2&creativeASIN=3742307452&linkId=0d2c858918611b9fae59066a59d6cfc6" target="_blank" rel="noopener noreferrer">
                        <b>Fit ohne Geräte: Die 90-Tage-Challenge für Männer</b>,
                        <i>by Mark Lauren</i>
                    </a>
                    <br />
                    <a href="https://www.hugendubel.de/de/ebook_epub/bill_gates-wie_wir_die_klimakatastrophe_verhindern-38486719-produkt-details.html" target="_blank" rel="noopener noreferrer">
                        <b>Wie wir die Klimakatastrophe verhindern</b>,
                        <i>by Bill Gates</i>
                    </a>
                    <br />
                    -->
                </td>
            </tr>
        </tbody>
    </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // for DWZ/ELO Plot
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022],
            datasets: [{
                label: 'DWZ',
                data: [1966, 1875, 2000, 1930, 1943, 2013, 2023, 1986, 2039, 2030, 2052, 2052, 2052],
                backgroundColor: ['rgba(255, 99, 132, 1)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 2
            }, {
                label: 'ELO',
                data: [NaN, 1852, 1937, 1994, 1978, 2025, 2026, 2026, 2026, 2026, 2026, 2026, 2026],
                backgroundColor: ['rgba(100, 100, 255, 1)'],
                borderColor: ['rgba(100, 100, 255, 1)'],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    suggestedMin: 1800,
                    suggestedMax: 2100
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Rating Developement',
                    font: {
                        size: 20
                    }
                }
            },
        }
    });
</script>

{% endblock %}