{% extends "base_page_style.html" %}

{% block PublicationsAndProjectsActive %}
active
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Publications and Projects</h1>

    <table class="table table-borderless" id="Publications_and_Projects_DeepQuality">
        <thead>
            <tr>
                <th width="20%">
                    <svg height="10" width="200">
                        <rect width="200" height="10" style="fill:rgb(230,150,0);" />
                    </svg>
                </th>
                <th style="font-size: 25px;">
                    DeepQuality
                </th>
            </tr>
        </thead>
    </table>
    <img src="../static/images/DeepQualityImage.png" alt="Theme Image" width="80%" style="position: relative;left: 10%">
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td width="20%">Goal</td>
                <td>
                    Develop a deep understanding of the industrial image retuch process and look for ways and possibilities
                    for automatization via artificial intelligence in order to save money and time without loss in quality.
                </td>
            </tr>
            <tr>
                <td>Sponsored by</td>
                <td>
                    <a href="https://www.aif-projekt-gmbh.de/en.html" rel="_blank" target="noopener noreferrer">
                        AiF Projekt GmbH
                    </a>
                </td>
            </tr>
            <tr>
                <td>Project Start</td>
                <td>June 2020</td>
            </tr>
            <tr>
                <td>Project End</td>
                <td>Mai 2022</td>
            </tr>
            <tr>
                <td>Resources</td>
                <td>
                    <b>Official Project Site:</b> 
                    <i><a href="https://fogra.org/forschen/medienvorstufe/deepquality-13004" target="_blank" rel="noopener noreferrer">
                        https://fogra.org/forschen/medienvorstufe/deepquality-13004
                    </a></i><br />
                    <b>Developed WebApp (illustrative purpose):</b> will be available soon <br />
                    <b>Final Project Report (German):</b> will be available soon <br />
                    <b>Final Project Report (German short Version):</b> will be available soon <br />
                    <b>Final Project Report (English short Version):</b> will be available soon <br />
                </td>
            </tr>
            <tr>
                <td>Project Results</td>
                <td>Still ongoing</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-borderless" id="Publications_and_Projects_SpectraColor">
        <thead>
            <tr>
                <th width="20%">
                    <svg height="10" width="200">
                        <rect width="200" height="10" style="fill:rgb(230,150,0);" />
                    </svg>
                </th>
                <th style="font-size: 25px;">
                    <a href="https://spectralcolor.herokuapp.com/" target="_blank" rel="noopener noreferrer">
                        SpectralColor-WebSite
                    </a>
                </th>
            </tr>
        </thead>
    </table>
    <a href="https://spectralcolor.herokuapp.com/" target="_blank" rel="noopener noreferrer">
        <img src="../static/images/SpectralColorImage.png" alt="Theme Image" width="90%" style="position: relative; left: 5%;">
    </a>
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td width="20%">Goal</td>
                <td>
                    Understanding color under different illumination and observing conditions in an intuitive way. A 
                    detailed description of the project can be found at the 
                    <a href="https://spectralcolor.herokuapp.com/" target="_blank" rel="noopener noreferrer">
                        SpectralColor-WebSite
                    </a>
                    itself.
                </td>
            </tr>
            <tr>
                <td>Programmed in</td>
                <td>
                    <b><a href="https://www.python.org/" target="_blank" rel="noopener noreferrer">
                        Python:
                    </b></a> <i>
                        <a href="https://flask.palletsprojects.com/en/2.1.x/" target="_blank" rel="noopener noreferrer">Flask,</a>
                        <a href="https://numpy.org/" target="_blank" rel="noopener noreferrer">Numpy,</a>
                        <a href="https://scipy.org/" target="_blank" rel="noopener noreferrer">Scipy</a>
                    </i> <br />
                    <b>
                        <a href="https://www.javascript.com/" target="_blank" rel="noopener noreferrer">Javascript:</a>
                    </b> <i>
                        <a href="https://getbootstrap.com/" target="_blank" rel="noopener noreferrer">Bootstrap,</a>
                        <a href="https://www.chartjs.org/" target="_blank" rel="noopener noreferrer">Chartjs,</a>
                        <a href="https://github.com/chrispahm/chartjs-plugin-dragdata" target="_blank" rel="noopener noreferrer">Dragdata (Chartjs Plugin)</a>
                    </i> <br />
                </td>
            </tr>
            <tr>
                <td>Depoyed on</td>
                <td>
                    <a href="https://spectralcolor.onrender.com/" target="_blank" rel="noopener noreferrer">Render</a>
                </td>
            </tr>
            <tr>
                <td>First Published</td>
                <td>30<sup>th</sup> of September 2021</td>
            </tr>
            <tr>
                <td>Last Update</td>
                <td>2<sup>nd</sup> of Mai 2023</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-borderless" id="Publications_and_Projects_3DScan">
        <thead>
            <tr>
                <th width="20%">
                    <svg height="10" width="200">
                        <rect width="200" height="10" style="fill:rgb(230,150,0);" />
                    </svg>
                </th>
                <th style="font-size: 25px;">
                    3D-Scanner Color Calibration
                </th>
            </tr>
        </thead>
    </table>
    <img src="../static/images/3DScanImage.png" alt="Theme Image" width="90%" style="position: relative;left: 5%;">
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td width="20%">Goal</td>
                <td>
                    Evaluate and improve 3D-scanner with artificial intelligence in order to optimize quality and costs for 3D-prints of miniatures.
                </td>
            </tr>
            <tr>
                <td>Supported By</td>
                <td>BMWi via a ZIM-Project (alles noch verlinken</td>
            </tr>
            <tr>
                <td>Project Partner</td>
                <td>
                    <a href="https://diged.de/" target="_blank" rel="noopener noreferrer">
                        DIG:ED
                    </a>
                </td>
            </tr>
            <tr>
                <td>Project Start</td>
                <td>1<sup>st</sup> of June 2019</td>
            </tr>
            <tr>
                <td>Project End</td>
                <td>28<sup>th</sup> of February 2021</td>
            </tr>
            <tr>
                <td>Results</td>
                <td>
                    The goal of this project was to optimize 3D-scanning cabines, especially to take care of that colors of the scanned 
                    person or object match the true colors. For this puprose a mapping from the scanned colors to the real colors was learned
                    with supervised machine learning. In this way color accuracy of 3D-scans could be improved by 30% from &#916;E = 5.3 
                    to &#916;E = 3.7.
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-borderless">
        <thead>
            <tr>
                <th width="20%">
                    <svg height="10" width="200">
                        <rect width="200" height="10" style="fill:rgb(230,150,0);" />
                    </svg>
                </th>
                <th style="font-size: 25px;">
                    Predicting the Orbifold Origin of the MSSM
                </th>
            </tr>
        </thead>
    </table>
    <img src="../static/images/Paper1Image.png" alt="Theme Image" width="80%" style="position: relative;left: 10%;">
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td width="20%">Goal</td>
                <td>
                    This work was published in the greater context of the unification of general relativity and quantum field theory. 
                    These two theories give us the best up-to-date description of nature, general relativity in the big world of things 
                    best described via gravity and quantum field theory in the tiny world of particle physics. Unfortunately this two 
                    theories contradict in some points and are not naturally complementary. String theory tries to solve this problem 
                    with a unification of both theories towards a more general one. This is the motivation and context of this project.
                </td>
            </tr>
            <tr>
                <td>Published in</td>
                <td>
                    <a href="https://onlinelibrary.wiley.com/journal/15213978" target="_blank" rel="noopener noreferrer">
                        Fortschritte der Physik / Progress of Physics
                    </a> 
                </td>
            </tr>
            <tr>
                <td>First Published</td>
                <td>28<sup>th</sup> of April 2020</td>
            </tr>
            <tr>
                <td>Authors</td>
                <td>Erik Parr, Patrick K.S. Vaudrevange, Martin Wimmer</td>
            </tr>
            <tr>
                <td>Links to Paper</td>
                <td>
                    <b>Wiley Fortschritte der Physik / Progress of Physics:</b>
                    <i><a href="https://onlinelibrary.wiley.com/doi/full/10.1002/prop.202000032" target="_blank" rel="noopener norefferrer">
                        https://onlinelibrary.wiley.com/doi/full/10.1002/prop.202000032
                    </a></i><br />
                    <b>ArXiv:</b>
                    <i><a href="https://arxiv.org/abs/2003.01732" target="_blank" rel="noopener norefferrer">
                        https://arxiv.org/abs/2003.01732
                    </a></i><br />
                    <b>Google Scholar</b>
                    <i><a href="https://scholar.google.de/scholar?cluster=16516052417345223115&hl=de&as_sdt=0,5" target="_blank" rel="noopener norefferrer">
                        https://scholar.google.de/scholar?cluster=16516052417345223115&hl=de&as_sdt=0,5
                    </a></i><br />
                </td>
            </tr>
            <tr>
                <td>Abstract</td>
                <td>
                    MSSM-like string models from the compactification of the heterotic string on toroidal orbifolds 
                    (of the kind &Topf;<sup>6</sup>/P) have distinct phenomenological properties, 
                    like the spectrum of vector-like exotics, the scale of supersymmetry breaking, and the existence of non-Abelian flavor symmetries. 
                    We show that these characteristics depend crucially on the choice of the underlying orbifold point group P. 
                    In detail, we use boosted decision trees to predict P from phenomenological properties of MSSM-like orbifold models. 
                    As this works astonishingly well, we can utilize machine learning to predict the orbifold origin of the MSSM.
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-borderless" id="Master's Thesis">
        <thead>
            <tr>
                <th width="20%">
                    <svg height="10" width="200">
                        <rect width="200" height="10" style="fill:rgb(230, 150, 0);" />
                    </svg>
                </th>
                <th style="font-size: 25px;">Master's Thesis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Title</td>
                <td><b>
                    <a href="https://mega.nz/file/cFJiAQqB#3wEx-SFE-tj-LWib1fHuGS6GM1qnU3VRZyVyq01Gz3k" target="_blank" rel="noopener noreferrer">
                        Machine Learning in the Heterotic Landscape
                    </a>
                </b></td>
            </tr>
            <tr>
                <td>Supervisors</td>
                <td><i>
                    <a href="https://www.groups.ph.tum.de/t75/home/" target="_blank" rel="noopener noreferrer">
                        Prof. Andreas Weiler,
                    </a>
                    <a href="https://users.ph.tum.de/ga57raj/index.html" target="_blank" rel="noopener noreferrer">
                        Dr. Patrick Vaudrevange
                    </a>
                </i></td>
            </tr>
            <tr>
                <td>Abstract</td>
                <td>
                    This thesis has the aim to shed some light on the heterotic landscape of four-dimensional 
                    string models from orbifold compactification. Especially, we take care of MSSM-like models, 
                    which build up the relevant class of models for high energy physics. For this purpose, 
                    we use supervised and unsupervised machine learning (ML). Especially, we show with an 
                    ensamble of different ML classifiers (neural networks, gradient boosting, support vector machines, 
                    etc.) that different orbifold geometries yield fundamentally different four dimensional 
                    MSSM-like models. To visualize this effect we also make use of unsupervised ML, via 
                    a variational autoencoder. In addition, we make another prediction, to show that there are 
                    unknown relations between certain properties of four-dimensional MSSM-like models from orbifolds.
                    These relations may build the backbone for constraints of MSSM-like models,
                    which have their origin in string theory.
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-borderless" id="Bachelors's Thesis">
        <thead>
            <tr>
                <th width="20%">
                    <svg height="10" width="200">
                        <rect width="200" height="10" style="fill:rgb(230, 150, 0);" />
                    </svg>
                </th>
                <th style="font-size: 25px;">Bachelor Thesis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Title</td>
                <td><b>
                    <a href="https://mega.nz/file/JFwG2a4S#2BS6hYpmGyrQsjhEihg4xbCngQubNpws8Vwg6URUKD4" target="_blank" rel="noopener noreferrer">
                        Continuous Spin and the Poincare Group
                    </a>
                </b></td>
            </tr>
            <tr>
                <td>Supervisor</td>
                <td><i>
                    <a href="https://www.groups.ph.tum.de/t75/home/" target="_blank" rel="noopener noreferrer">
                        Prof. Andreas Weiler
                    </a>
                </i></td>
            </tr>
            <tr>
                <td>Abstract</td>
                <td>
                    We looked at the representations of the Poincare Group. Especially, on the massless 
                    representation (photon), which in general allows a continuous degree of freedom
                    (continuous spin).
                </td>
            </tr>
        </tbody>
    </table>

    <!--
    <table class="table table-borderless">
        <thead>
            <tr>
                <th width="20%">
                    <svg height="10" width="200">
                        <rect width="200" height="10" style="fill:rgb(230,150,0);" />
                    </svg>
                </th>
                <th style="font-size: 25px;">
                    Just Fun
                </th>
            </tr>
        </thead>
    </table>
    <p>Hier dein Logo 3D gerendert zum rumspielen</p>
    --> 
</div>
{% endblock %}

{% block just_fun %}

<script type="text/javascript" src="{{ url_for('static', filename='just_fun.js') }}"></script>
{% endblock %}